<%= form_with(model: comment, local: true) do |form| %>

  <div class="field">
    <%= form.label :usercomment %>
    <%= form.text_area :usercomment %>
  </div>

  <div class="field">
    <%= form.label :episode %>
    <%= form.text_field :episode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
