<p id="notice"><%= notice %></p>

<p>
  <strong>Usercomment:</strong>
  <%= @comment.usercomment %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @comment.episode %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
