<%= form_with(model: webtoon, local: true) do |form| %>
  <% if webtoon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webtoon.errors.count, "error") %> prohibited this webtoon from being saved:</h2>

      <ul>
      <% webtoon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :webtoonname %>
    <%= form.text_field :webtoonname %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="field">
    <%= form.label :attentioncount %>
    <%= form.number_field :attentioncount %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day %>
  </div>

  <div class="field">
    <%= form.label :stardate %>
    <%= form.text_field :stardate %>
  </div>

  <div class="field">
    <%= form.label :agelimit %>
    <%= form.number_field :agelimit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
