<style>

	#all{

		font-family: '맑은 고딕';

		font-weight: border;

		font-size: 15px;

		text-align: center;

	}

	#made{

		font-family: '맑은 고딕';

		font-weight: border;

		font-size: 12px;

		text-align: left;

	}


</style>

<!DOCTYPE html>
<html>
  <head>
    <title>GoormRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body><div id="made"><p>made by. 오경섭 조성범 김민수 강혜진</p></div>
		<div id="all">
	  <div>
		  <% if user_signed_in? %>
		          <%= link_to "로그아웃", destroy_user_session_path, method: :delete %> |
		          아이디 : <%= current_user.email %> |
		          유저 No. : <%= current_user.id %>
		  <% else %>
		          <%= link_to "로그인", user_session_path %>
		          <%= link_to "회원가입", "/users/sign_up" %>
		  <% end %>
	  </div>
			</div>
    <%= yield %>
  </body>
</html>